@use "../variables" as *;
@use "./bar-widget-wrapper.scss";

window.Bar {
  font-family: Google Sans;
  background: transparent;
  color: $theme-dark-fg-color;

  >centerbox {
    background: $theme-dark-bg-color;

    >box {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
